{% extends "base.html" %}

{% block body %}
  {% for note in notes %}
    <div>
      <a href="{{ url_for('note_content', id=note._id) }}">
        {{ note.title }}
      </a> |
      {% if box == 'inbox' %}
        {{ note.sender.name }}
      {% elif box == 'outbox' %}
        {{ note.to.name }}
      {% endif %}
      |
      <span data-toggle="tooltip"
            title="{{ arrow.get(note._id.generation_time).to('Asia/Seoul').strftime('%Y-%m-%d %I:%M:%S %p') }}">
        {{ arrow.get(note._id.generation_time).humanize(locale='ko_KR') }}
      </span>
    </div>
  {% endfor %}

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
{% endblock %}
